<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <springProperty scop="context" name="spring.application.name" source="spring.application.name"
                    defaultValue="example_server"/>
    <springProperty scop="context" name="log.path" source="log.path"
                    defaultValue="/Users/liming/work/logs"/>
    <springProperty scop="context" name="log.level" source="log.level"
                    defaultValue="INFO"/>
    <springProperty scop="context" name="log.appender" source="log.appender"
                    defaultValue="CONSOLE"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{50}] %file:%line %X{X-B3-TraceId:-} %X{X-B3-SpanId:-} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${spring.application.name}/${spring.application.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM}/%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{50}] %file:%line %X{X-B3-TraceId:-} %X{X-B3-SpanId:-} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${spring.application.name}/${spring.application.name}_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM}/%d{yyyy-MM-dd}.%i.error.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{50}] %file:%line %X{X-B3-TraceId:-} %X{X-B3-SpanId:-} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
   <!--   <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:6014</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level": "%-5level",
                        "app_name": "${spring.application.name}",
                        "trace_id": "%X{X-B3-TraceId:-}",
                        "span_id": "%X{X-B3-SpanId:-}",
                        "thread": "%thread",
                        "class": "%logger{50}",
                        "message": "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{50}] %file:%line %X{X-B3-TraceId:-} %X{X-B3-SpanId:-} - %msg%n %exception{5}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <connectionStrategy>
            <roundRobin>
                <connectionTTL>5 minutes</connectionTTL>
            </roundRobin>
        </connectionStrategy>
    </appender>-->


    <!-- Level: FATAL 0  ERROR 3  WARN 4  INFO 6  DEBUG 7 -->
    <root level="${log.level}">
        <appender-ref ref="${log.appender}"/>
    </root>


</configuration>